{% extends "base.html.twig" %}

{%block body %}
    <div class="mainBlock col-12">
        <div class="text-center pt-5">
            <div>
                <img src="{{ ('IMG/ninja1.png') }}" class="img-fluid">
            </div>
            <div class="col-4 offset-4 rounded-pill boiteTextHome">
                <a href="{{ path('choice') }}" class="textHome text-capitalize">Découvre ton nom de ninja! -></a>
            </div>
        </div>
    </div>
{% endblock %}